@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
:root{
   font-family: 'Baloo 2', cursive;
   --common-color:white;
   max-width: 1280px;
}
.topheader{
    background-color:crimson;
}
header nav .logo{
    font-family: 'Pacifico', cursive;
    margin:0;
    align-self: center;
}
header nav{
    margin:0;
    justify-content: space-between;
}
header nav .topmenue .contactlogo .linklogo{
   width: 30px;
}
.topmenue{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}
header nav .topmenue .menueitem{
    border: color black 0;
    background-color:cyan;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    text-decoration:none;
    text-transform: uppercase;
    margin-right: 30px;

}
header nav .topmenue .menueitem:hover{
    border-color:white;
    background-color:blueviolet;
}
header nav .logo{
    text-align: center;
}
@media(min-width:760px){
    header nav{
    display:flex;
    }
    }



