@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
:root{
   font-family: 'Baloo 2', cursive;
   --common-color:white;
   max-width: 1280;
}
.topheader{
    background-color:crimson;
}
body .about-us{
    display:flex;
    
}
body .about-us .about-us-guitar{
    width:600px;
}
header nav .logo{
    font-family: 'Pacifico', cursive;
    margin:0;
    align-self: center;
}
header nav{
    margin:0;
    justify-content: space-between;
}
header nav .toprow .contactlogo .linklogo{
   width: 30px;
}
header nav .toprow{
    display: flex;
    justify-content: space-between;
}
.botrow{
    display: flex;
    list-style-type: none;
    justify-content: space-between
    ;
}
header .botrow .botlist{
    flex-direction: row-reverse;
}

header nav .logo{
    text-align:bottom;
}
@media(min-width:760px){
    header nav{
    display:flex;
    }
    }
    body article .elecguitar{ 
   width:1280px;
    }
body article .bassguitar{
    width:1280px;
}
body article .domra{
    width:1280px;
}

